.chat-log {
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
}

textarea {
    font-family: monospace;
}


canvas {
    background-color: grey;
    width: 100%;
    height: 500px;
    cursor: none;
}
