<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index page</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <script src="/static/lib/jquery-2.0.3.min.js"></script>
    <script src="/static/lib/underscore.js"></script>
    <script src="/static/lib/backbone.js"></script>


    <script>
        window.onload = function () {
            new Psg.Router
            Backbone.history.start()
        }
    </script>

    <script id="welcome-template" type="text/template">
        <div class="jumbotron">
            <h1>Square war</h1>
            <p>The brand new platform shooter game</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <ul class="nav nav-tabs">
                <li id="nav-signin" class="active"><a href="#">Sign in</a></li>
                <li id="nav-signup"><a href="#">Sign up</a></li>
            </ul>
            <form id="welcome-form" action="#" class="form-horizontal well">

                <%= formData %>

            </form>
        </div>
    </script>

    <script id="welcome-data-input" type="text/template">
        <div class="form-group" id="login-group">
            <label for="input-login" class="col-lg-3 control-label">Login</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="input-login" placeholder="Login">
            </div>
            <div class="row text-right col-lg-3 control-label" id="login-error"></div>
        </div>
        <div class="form-group" id="password-group">
            <label for="input-password" class="col-lg-3 control-label">Password</label>
            <div class="col-lg-6">
                <input type="password" class="form-control" id="input-password" placeholder="Password">
            </div>
            <div class="row text-right col-lg-3 control-label" id="password-error"></div>
        </div>
    </script>

    <script id="welcome-repeat-password-input" type="text/template">
        <div class="form-group" id="repeat-password-group">
            <label for="repeat-password" class="col-lg-3 control-label">Repeat password</label>
            <div class="col-lg-6">
                <input type="password" class="form-control" id="repeat-password" placeholder="Repeat password">
            </div>
            <div class="row text-right col-lg-3 control-label" id="repeat-password-error"></div>
        </div>
    </script>

    <script id="welcome-submit-btn" type="text/template">
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-3">
                <button id="submit-btn" type="submit" class="btn btn-default"><%= btnName %></button>
            </div>
        </div>
    </script>

    <script id="application-template" type="text/template">

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/ui" class="navbar-brand">Square war</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li><a href="#join">Join game</a></li>
                        <li><a href="#create">Create game</a></li>
                        <li><a href="#upload-map">Upload map</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <p class="navbar-text"><%= login %></p>
                        <li><a href="#signout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="container">

        </div>

    </script>

    <script src="/static/src/config.js"></script>
    <script src="/static/src/namespace.js"></script>
    <script src="/static/src/helpers/connection.js"></script>
    <script src="/static/src/helpers/game_connection.js"></script>
    <script src="/static/src/models/user.js"></script>
    <script src="/static/src/models/application.js"></script>
    <script src="/static/src/views/application_view.js"></script>
    <script src="/static/src/views/welcome_view.js"></script>
    <script src="/static/src/router.js"></script>
</head>


<body>

</body>

</html>



