<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index page</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <script src="/static/lib/jquery-2.0.3.min.js"></script>
    <script src="/static/lib/underscore.js"></script>
    <script src="/static/lib/backbone.js"></script>


    <script>
        window.onload = function () {
            new Psg.Router
            Backbone.history.start()
        }
    </script>

</head>
<body>
    <script id="welcome-template" type="text/template">
        <div class="jumbotron">
            <h1>Square war</h1>
            <p>The brand new platform shooter game</p>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <ul class="nav nav-tabs">
                <li class="active" id="nav-signin"><a href="#">Sign in</a></li>
                <li><a href="#" id="nav-signup">Sign up</a></li>
            </ul>
            <form action="#" class="form-horizontal well">
                <div class="form-group">
                    <label for="input-login" class="col-lg-2 control-label">Login</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="input-login" placeholder="Login">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="input-password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <script src="/static/src/config.js"></script>
    <script src="/static/src/namespace.js"></script>
    <script src="/static/src/helpers/connection.js"></script>
    <script src="/static/src/helpers/game_connection.js"></script>
    <script src="/static/src/models/user.js"></script>
    <script src="/static/src/models/application.js"></script>
    <script src="/static/src/views/application_view.js"></script>
    <script src="/static/src/views/welcome_view.js"></script>
    <script src="/static/src/router.js"></script>
</body>
</html>
