<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Spec Runner</title>

  <link rel="stylesheet" href="/static/lib/mocha/mocha.css">

  <script src="/static/lib/mocha/mocha.js"></script>
  <script src="/static/lib/chai.js"></script>
  <script type="text/javascript" src="/static/lib/jquery-2.0.3.min.js"></script>
  <script>mocha.setup('bdd');</script>

  <script type="text/javascript" src="/static/src/config.js"></script>
  <script type="text/javascript" src="/static/src/connection/connector.js"></script>
  <script type="text/javascript" src="/static/src/connection/game_connector.js"></script>
  <script type="text/javascript" src="/static/src/connection/gameplay_connector.js"></script>
  <script type="text/javascript" src="/static/src/user.js"></script>
  <script type="text/javascript" src="/static/src/spec/spec_helper.js"></script>
  <script type="text/javascript" src="/static/src/spec/api_spec.js"></script>

  <script>
    window.onload = function () {
      mocha.run();
    }
  </script>

</head>

<body>
  <div id="mocha"></div>
</body>
</html>
